<% provide(:title, 'About Us')%>
<h1>About Us</h1>
<p>
  The <a href="http://railstutorial.org/">Rails Tutorial</a>
  is good for those new to Rails and those who have experience. Rails can
  teach a <a href="http://www.petfinder.com/dog-breeds/">dog</a> new tricks.
  This is the sample application for the tutorial.
</p>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>


